[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
requests = "*"
tqdm = "*"
openpyxl = "*"
pyyaml = "*"
vt-py = "*"
streamlit = "*"

[dev-packages]
jupyterlab = "*"

[requires]
python_version = "3.13"
